<%- include("./partials/header.ejs", {title: "クイズページ"}); %>
<h1>クイズページ</h1>
<div class="quiz__container">
  <p id="question"></p>
  <ul id="answers"></ul>
  <p id="result"></p>
  <button id="restart-button">Restart</button>
</div>
<div class="bottom_nav">
  <a href="/">
      <p>トップページへ</p>
  </a>
</div>
<%- include("./partials/footer.ejs"); %>